<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body ng-controller="deliveries">
  <h1>{{ name }}</h1>
  <div ng-init="init()">

  </div>

  <input type="text" ng-model="address">
  <button ng-click="findAddress()">buscar</button>
  <script src="./lib/angular.min.js"></script>
  <script src="./controllers/deliveriesController.js"></script>
  <script src="./services/deliveriesService.js"></script>
</body>
</html>