<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./assets/css/styles.css">
  <title>ROUTEASY</title>
</head>

<body ng-controller="deliveries">
  <div class="first-title">
    <h1>Challenge Routeasy</h1>
  </div>
  <div class="container">
    <div class="row wrapper-father">
      <div class="form-left">
        <div class="wrapper row">
          <div ng-if="errors">
            <div ng-repeat="(key, value) in errors">
              <div class="errors">{{value.msg}}</div>
            </div>
          </div>
          <input type="text" ng-model="name" placeholder="Nome do Cliente">
          <input type="number" ng-model="weight" placeholder="Peso da Entrega">
          <div class="wrapper-address">
            <div class="input">
              <input ng-model="address" type="text" placeholder="Endereço cliente" />
            </div>
            <input class="button" type="submit" ng-click="findAddress()" value="BUSCAR" />
          </div>
          <div class="row lat-long">
            <input ng-disabled="true" ng-model="latitude" value="latitude" placeholder="Latitude">
            <input ng-disabled="true" ng-model="longitude" value="longitude" placeholder="Longitude">
          </div>
        </div>
  
        <div class="row reset-register">
          <button ng-click="registerClient()">CADASTRAR CLIENTE</button>
        </div>
      </div>
  
      <div class="row reset-all">
        <button ng-click="removeAll()">RESETAR CADASTRO</button>
      </div>
    </div>

    <div class="row container-right">
      <div id="map"></div>
      <div class="info-items">
        <span>Total de clientes: {{allDeliveries.length}}; Peso Total: {{weightTotal}} kg; Ticket Médio*: {{ticket}}</span>
      </div>
      <table class="table" ng-init="init()">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Rua</th>
            <th>Cidade</th>
            <th>Pais</th>
            <th>Peso</th>
            <th>Lat</th>
            <th>Lng</th>
            <th>Ação</th>
          </tr>
        </thead>

        <tbody>
          <tr  ng-repeat="(key, value) in allDeliveries">
              <td>{{value.name}}</td>
              <td>{{value.address.street}}</td>
              <td>{{value.address.city}}</td>
              <td>{{value.address.country}}</td>
              <td>{{value.weight}} Kg</td>
              <td>{{value.geolocation.latitude}}</td>
              <td>{{value.geolocation.longitude}}</td>
              <td>
                <button ng-click="removeOne(value._id)">
                  DELETAR
                </button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <script src="./lib/angular.min.js"></script>
  <script src="./controllers/deliveriesController.js"></script>
  <script src="./services/deliveriesService.js"></script>

  <!-- cdn maps -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
</body>
</html>